dataset = 01 /storage/dpolasky/projects/Glyco/Fragger_runs/__FraggerResults/2020_03_12_sml_exactREAL182_3-10jar_psm.tsv /storage/dpolasky/data/glyco/2017_01_19_MB1-4_Glyco

peakpicking_promRatio = 0.3
peakpicking_mass_units = 0
peakpicking_width = 0.002
peakpicking_topN = 500

precursor_mass_units = 0
precursor_tol = 0.01

annotation_tol = 0.01 

localization_background = 4

output_extended = false
