dataset = 01 /home/geiszler/Documents/PTMShepherdTestCases/01/psm.tsv /home/geiszler/Documents/PTMShepherdTestCases/01
dataset = 02 /home/geiszler/Documents/PTMShepherdTestCases/02/psm.tsv /home/geiszler/Documents/PTMShepherdTestCases/02

histo_smoothbins = 5
peakpicking_promRatio = 0.3
peakpicking_width = 0.002
varmod_masses = Failed Carbamidymethylation:-27.99540
output_extended = true

ui.name.report.run-shepherd = true
