dataset = 01 /home/geiszler/storage/hayse/tubulin/purified_tubulin_PTL/openSearch_redux/control/psm.tsv /home/geiszler/storage/hayse/tubulin/purified_tubulin_PTL/raw/denny_raw

histo_smoothbins = 5
peakpicking_promRatio = 0.3
peakpicking_width = 0.002
varmod_masses = Failed Carbamidymethylation:-27.99540
output_extended = false

ui.name.report.run-shepherd = true
